.container {
  width: 100%;
}

.container :global(.ant-table) {
  background: transparent;
}

.container :global(.ant-table-thead > tr > th) {
  background: #fafafa;
  border-bottom: 1px solid #e1e8ed;
}
